html {
    font-size: 30px
 }

 body {
 
    background-image: url(303587E3-8F9D-4911-97D4-F081F312D888_1_105_c.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color:black;
    text-align: center;
    
}